OPENWEATHER_API_KEY=coloque_sua_chave
ORACLE_USER=ADMIN
ORACLE_PASSWORD=coloque_senha

# Opcao 1 (Oracle comum): host:porta/servico
# ORACLE_DSN=localhost:1521/XEPDB1

# Opcao 2 (Oracle Autonomous + Wallet): alias do tnsnames.ora
ORACLE_DSN=clima_high
ORACLE_CONFIG_DIR=/caminho/real/da/wallet
ORACLE_WALLET_LOCATION=/caminho/real/da/wallet
# ORACLE_WALLET_PASSWORD=senha_wallet

OWM_UNITS=metric
OWM_LANG=pt_br
OWM_TIMEOUT_SECONDS=20
OWM_SLEEP_SECONDS=1.2
OWM_WINDOW_TIMEZONE=America/Sao_Paulo
OWM_WINDOW_DAYS_AHEAD=5

OWM_DB_MAX_RETRIES=3
OWM_DB_RETRY_SECONDS=3
OWM_API_MAX_RETRIES=2
OWM_API_RETRY_SECONDS=2
OWM_CHECKPOINT_FILE=/Users/Fredaoo/PORTIFOLIO/projects/clima-project/.openweather_checkpoint.json

# Airflow webserver
AIRFLOW__WEBSERVER__SECRET_KEY=gere_uma_chave_forte_com_openssl_rand_hex_32
